<footer class="">
    <div class="container ">
        <div class="row">
            <div class="col-md-4 pb-3 media">
                <h4 class="MuiTypography-root MuiTypography-body1 MuiTypography-colorSecondary">Fast food</h4>
            </div>

            <div class="col-md-4 pb-3 media">
                <div class="icons">
                    <i class="fab fa-facebook-square"></i>
                    <i class="fab fa-linkedin"></i>
                    <i class="fab fa-github-square"></i>
                    <i class="fab fa-twitter-square"></i>
                </div>
            </div>

            <div class="col-md-4 pb-3 media">
                <div class="number">
                    <i class="fas fab fa-phone-square-alt"></i>
                    <h4 class="text-white d-inline"> : +555 555 5555</h4>
                </div>
            </div>



            <div class="col-md-2 media">
                <div class="link">Home</div>
            </div>
            <div class="col-md-2 media">
                <div class="link">About</div>
            </div>
            <div class="col-md-2 media">
                <div class="link">Sign in</div>
            </div>
            <div class="col-md-2 media">
                <div class="link">Signup</div>
            </div>
            <div class="col-md-2 media">
                <div class="link">Our Products</div>
            </div>
            <div class="col-md-2 media">
                <div class="link">Service</div>
            </div>


            <div class="col-md-12 pt-4 text-muted text-center">
                <p>© Copy Right 2021 by Hossam Ashraf</p>
            </div>


        </div>


    </div>

    <!-- <div class="secondLine">
            <div class="home">Home</div>
            <div class="about">About</div>
            <div class="signin">Sign in</div>
            <div class="signup">Signup</div>
            <div class="ourProdict">Our Products</div>
            <div class="service">Service</div>
        </div>

        <div class="thirdLine"></div> -->

</footer>