<form action="" class="form-check py-5">
    <div class="container text-center">
        <h1 class="py-3">Login</h1>
        <label for="email" class="">Email</label>
        <input id="email" class="form-control w-100 my-3 border-0 is-valid " type="email" placeholder="email*">

        <label for="password" class="">Password</label>
        <input id="password" class="form-control w-100 my-3 border-0 is-valid " type="password" placeholder="password*">

        <button class="btn btn-outline-success w-75 mt-3">SIGN IN</button>
        <button class="btn btn-outline-success w-75 mt-3">SIGN IN BY GOOGLE</button>
        <a routerLink="/signup" class="signup">SIGN UP</a>
    </div>

</form>