<form action="" class="form-check py-5">
    <div class="container text-center">
        <h1 class="pb-3">SIGN UP</h1>

        <label for="name" class="">Name</label>
        <input id="name" class="form-control w-100 my-3 border-0" type="text" placeholder="name*">

        <label for="email" class="">Email</label>
        <input id="email" class="form-control w-100 my-3 border-0" type="email" placeholder="email*">

        <label for="password" class="">Password</label>
        <input  id="password" class="form-control w-100 my-3 border-0" type="password" placeholder="password*">

        <label for="password" class="">Confirm password</label>
        <input id="password" class="form-control w-100 my-3 border-0" type="password" placeholder="Confirm password*">

        <button class="btn btn-outline-success w-75 mt-3">SIGN IN</button>
        <button class="btn btn-outline-success w-75 mt-3">SIGN IN BY GOOGLE</button>
        <a routerLink="/login" class="signup">SIGN IN</a>
    </div>

</form>