<section class="home " id="home">
    <div class="container">
        <div class="row ">
            <div class="col-md-6 d-flex align-items-center">

                <div class="content text-muted pt-5  " data-aos="fade-right">
                    <h3 class="py-3 ">Food made with love</h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni sed maxime commodi quos similique
                        mollitia enim! Itaque perferendis
                        sit amet consectetur adipisicing elit. Alias cumque reprehenderit expedita necessitatibus quod
                        commodi, praesentium voluptatum
                        tenetur labore? Dicta eum sit exercitationem sed quaerat? Tempora illum.ullam veniam! Lorem
                        ipsum dolor .
                    </p>
                    <a href="#" class="btn btn-outline-danger ">Order now</a>
                </div>
            </div>

            <div class="col-md-6">
                <div class="img">
                    <img src="../../assets/images/home-img.png" class="w-100 px-5" alt="">
                </div>
            </div>

        </div>
    </div>

</section>


<section class="about">
    <div class="container">
        <div class="row">

            <div class="col-md-6 ">
                <div class="img" data-aos="zoom-in">
                    <img src="../../assets/images/order-img.jpg" class="img-fluid" alt="">
                </div>
            </div>

            <div class="col-md-6  text-muted">

                <div class="content" data-aos="fade-up">
                    <h3 class="pb-3">The food is waiting for You</h3>
                    <p class="pb-3">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quaerat voluptates odio
                        quasi ab veniam quidem
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Error pariatur necessitatibus eum
                        adipisci incidunt, tenetur possimus quibusdam doloremque est.!</p>
                    <a href="#" class="btn btn-outline-danger p-3  ">Ask us</a>
                </div>

            </div>


        </div>
    </div>
</section>


<!-- Service -->

<section class="service py-5">
    <h2 class="text-muted py-4 text-center ">Our <span>Special</span> dishes</h2>
    <div class="container">
        <div class="row" >

            <div class="col-md-4 mb-3">

                <div class="box" data-aos="fade-down" data-aos-duration="500">
                    <img src="../../assets/images/s-img-1.jpg" class="w-100 main-img " alt="">
                    <a routerLink="/Prodcuts" class="btn btn-outline-danger p-3 main-btn text-white  ">See more</a>
                    <div class="content">
                        <img src="../../assets/images/s-1.png" class="img-fluid" alt="">
                        <h3 class="py-2">Tasty Burger</h3>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eos repudiandae earum distinctio
                            omnis id unde illo vel, voluptas non cumque, dignissimos accusantium nostrum dicta saepe.
                            Omnis ipsum facilis harum.</p>
                    </div>
                </div>

            </div>

            <div class="col-md-4 mb-3 " data-aos="fade-down"  data-aos-duration="500">
                
                <div class="box ">
                    <img src="../../assets/images/s-img-2.jpg" class="w-100 main-img " alt="">
                    <a routerLink="/Prodcuts" class="btn btn-outline-danger p-3 main-btn text-white  ">See more</a>
                    <div class="content">
                        <img src="../../assets/images/s-2.png" class="img-fluid" alt="">
                        <h3 class="py-2">Tasty Pizza</h3>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eos repudiandae earum distinctio
                            omnis id unde illo vel, volrighttas non cumque, dignissimos accusantium nostrum dicta saepe.
                            Omnis ipsum facilis harum.</p>
                    </div>
                </div>

            </div>


            <div class="col-md-4 mb-3" data-aos="fade-down" data-aos-duration="600">

                <div class="box">
                    <img src="../../assets/images/s-img-3.jpg" class="w-100  main-img " alt="">
                    <a routerLink="/Prodcuts" class="btn btn-outline-danger p-3 main-btn text-white  ">See more</a>
                    <div class="content">
                        <img src="../../assets/images/s-3.png" class="img-fluid" alt="">
                        <h3 class="py-2">Cold Ice-Creem</h3>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eos repudiandae earum distinctio
                            omnis id unde illo vel, voluptas non cumque, dignissimos accusantium nostrum dicta saepe.
                            Omnis ipsum facilis harum.</p>
                    </div>
                </div>

            </div>


            <div class="col-md-4 mb-3 ">

                <div class="box"  data-aos="fade-down" data-aos-duration="700">
                    <img src="../../assets/images/s-img-4.jpg" class="w-100 main-img " alt="">
                    <a routerLink="/Prodcuts" class="btn btn-outline-danger p-3 main-btn text-white  ">See more</a>
                    <div class="content">
                        <img src="../../assets/images/s-4.png" class="img-fluid" alt="">
                        <h3 class="py-2">Cold Drings </h3>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eos repudiandae earum distinctio
                            omnis id unde illo vel, voluptas non cumque, dignissimos accusantium nostrum dicta saepe.
                            Omnis ipsum facilis harum.</p>
                    </div>
                </div>

            </div>


            <div class="col-md-4 mb-3">

                <div class="box"  data-aos="fade-down" data-aos-duration="800">
                    <img src="../../assets/images/s-img-5.jpg" class="w-100 main-img " alt="">
                    <a routerLink="/Prodcuts"  class="btn btn-outline-danger p-3 main-btn text-white  ">See more</a>
                    <div class="content">
                        <img src="../../assets/images/s-5.png" class="img-fluid" alt="">
                        <h3 class="py-2">Tasty Sweets</h3>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eos repudiandae earum distinctio
                            omnis id unde illo vel, voluptas non cumque, dignissimos accusantium nostrum dicta saepe.
                            Omnis ipsum facilis harum.</p>
                    </div>
                </div>

            </div>


            <div class="col-md-4 mb-3">

                <div class="box"  data-aos="fade-down" data-aos-duration="800">
                    <img src="../../assets/images/s-img-6.jpg" class="w-100 main-img " alt="">
                    <a routerLink="/Prodcuts" class="btn btn-outline-danger p-3 main-btn text-white  ">See more</a>
                    <div class="content">
                        <img src="../../assets/images/s-6.png" class="img-fluid" alt="">
                        <h3 class="py-2">Healthy Breakfast</h3>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eos repudiandae earum distinctio
                            omnis id unde illo vel, voluptas non cumque, dignissimos accusantium nostrum dicta saepe.
                            Omnis ipsum facilis harum.</p>
                    </div>
                </div>

            </div>




        </div>
    </div>

</section>

<section class="fixed-bg position-relative">
    <!-- <div class="layer"></div> -->
    <div class="container ">
        <h3 class="py-4 fw-bolder fs-2">The food is waiting for You</h3>
        <p class="w-50">Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit, amet consectetur
            adipisicing elit. Ullam, quasi. Accusantium, recusandae deleniti. Autem assumenda adipisci labore. Officia
            cumque sit necessitatibus id Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et expedita voluptas
            maiores quibusdam rerum lorem20?</p>
        <a href="#" class="btn btn-outline-danger p-3 main-btn text-white  ">See more</a>
    </div>
</section>

<section class="slider-product py-3">
    <h2 class="text-center text-muted pb-3">Our <span>Products</span></h2>

    <div class="container ">
        <div class="all ">
            <div class="row  ">
                <owl-carousel-o [options]="customOptions">

                    <ng-container *ngFor="let slide of sliderMeals">
                        
                      <ng-template carouselSlide [id]="slide.id">
                          <div class="boxx px-2 position-relative">

                        <div class="price">{{slide?.price}}$</div>
                        <img [src]="slide.image" class="img-fluid w-100 " >
                        <div class="content  text-center">
                            <h3 class="pt-sm-5 fs-5">{{slide?.title}}</h3>
                            <a  (click)="setItem(slide)" class="btn btn-outline-danger p-3 main-btn text-white mt-2  ">Order now</a>
                        </div>
                    </div>
                      </ng-template>
                    </ng-container>
                
                  </owl-carousel-o>
            </div>
        </div>
    </div>

</section>


<section class="review">
    <div class="container">
        <h2 class="pb-5">Our Customers <span>Reviews</span></h2>
        <div class="row">

            <div class="col-md-4 ">
                <div class="box ">
                    <img src="../../assets/images/pic1.png" class="re-img" alt="">
                    <h3 class="pt-sm-5 pt">john deo</h3>
                    <div class="stars pb-3 ">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt ducimus, suscipit nisi dolorem
                        nam veritatis?</p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="box ">
                    <img src="../../assets/images/pic2.png" class="re-img" alt="">
                    <h3 class="pt-sm-5 pt">john deo</h3>
                    <div class="stars pb-3 ">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt ducimus, suscipit nisi dolorem
                        nam veritatis?</p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="box ">
                    <img src="../../assets/images/pic3.png" class="re-img" alt="">
                    <h3 class="pt-sm-5 pt">john deo</h3>
                    <div class="stars pb-3 ">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt ducimus, suscipit nisi dolorem
                        nam veritatis?</p>
                </div>
            </div>

        </div>
    </div>
</section>


<div class="loader-container">
    <img src="../../assets/images/loader.gif" alt="">
</div>